<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8"> 
    <title>比特币数据</title>
    <script src="{{echart}}"></script>
    <script src="{{jquery}}"></script>
</header>
<body> 
    <h1>Hello 飞哥!</h1> 
    <div id="main" style="width: 100%;height:800px;"></div>

    <script type="text/javascript"> 
    var myChart = echarts.init(document.getElementById('main'));
    var sdate = sessionStorage.getItem('sdate') 
    var sdata = sessionStorage.getItem('sdata') 
    var date = [] 
    var data = [] 
    if(sdate&&sdata){
        date = JSON.parse(sdate) 
        data = JSON.parse(sdata)
    }

    function formatData(json) {
        var result = {}
        var fData1= [],fData2= [],fData3= [],fData4= [],fData5= [],fDate = []
        var t = [0,json[0][1],json[0][2],json[0][3],json[0][4],json[0][5],json[0][6],json[0][7]];
        for (var i = 0; i < json.length; i++) { 
            fDate.push(json[i][0])   
            if(json[i][1]<=0) json[i][1] = t[1];
            else t[1] = json[i][1];
            if(json[i][2]<=0) json[i][2] = t[2];
            else t[2] = json[i][2]; 
            if(json[i][3]<=0) json[i][3] = t[3];
            else t[3] = json[i][3];
            if(json[i][4]<=0) json[i][4] = t[4];
            else t[4] = json[i][4]; 
            if(json[i][5]<=0) json[i][5] = t[5];
            else t[5] = json[i][5]; 
            if(json[i][6]<=0) json[i][6] = t[6];
            else t[6] = json[i][6]; 
            if(json[i][7]<=0) json[i][7] = t[7];
            else t[7] = json[i][7]; 

            if((json[i][5]/json[i][6]-json[i][1]).toFixed(4)>70)
                console.log(json[i])
            fData1.push((json[i][2]-json[i][1]).toFixed(4))
            fData2.push((json[i][3]-json[i][1]).toFixed(4))
            fData3.push((json[i][4]-json[i][1]).toFixed(4)) 
            fData4.push((json[i][5]/json[i][6]-json[i][1]).toFixed(4))
            fData5.push((json[i][4]-json[i][7]).toFixed(4))
            fData6.push((json[i][4]-json[i][3]).toFixed(4))
        }
        result['date'] = fDate
        result['data'] = []
        result['data'].push(fData1)
        result['data'].push(fData2)
        result['data'].push(fData3)
        result['data'].push(fData4)
        result['data'].push(fData5)
        result['data'].push(fData6)
        return result
    }  


    var option = {
     backgroundColor: '#21202D',
     title: {
      text: 'BTC现货期货差值-历史数据',
      textStyle:{
        color: '#fff'
    }
},
legend: {
  data: [ '本周vs指数', '次周vs指数' , '季度vs指数','人民币现货/汇率 - 指数','季度-美金现货','季度-次周'],
  inactiveColor: '#777',
  textStyle: {
   color: '#fff'
}
}, 
tooltip: {
    trigger: 'axis',
    axisPointer: {
        animation: false,
        lineStyle: {
            color: '#376df4',
            width: 2,
            opacity: 1
        }
    }
},
xAxis: {
    type: 'category',
    axisLine: { lineStyle: { color: '#8392A5' } },
    data : date
}, 
yAxis: [{ 
    type: 'value',
    axisLine: { 
        lineStyle: { color: '#8392A5' }
    },
    boundaryGap: [0, '80%'],
    scale: true
} ],
dataZoom: [{  
    textStyle: {
        color: '#8392A5'
    },
    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z', 
    dataBackground: {
        areaStyle: {
            color: '#8392A5'
        },
        lineStyle: {
            opacity: 0.8,
            color: '#8392A5'
        }
    },
    handleStyle: {
        color: '#fff',
        shadowBlur: 3,
        shadowColor: 'rgba(0, 0, 0, 0.6)',
        shadowOffsetX: 2,
        shadowOffsetY: 2
    }
}, {
    type: 'inside'
}], 
series: [ 
{
  name: '本周vs指数',
  type: 'line',
  showSymbol: false,
  hoverAnimation: false,
  data: data[0] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 
},
{
  name: '次周vs指数',
  type: 'line', 
  showSymbol: false,
  hoverAnimation: false,
  data: data[1] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 
},
{
  name: '季度vs指数',
  type: 'line', 
  showSymbol: false,
  hoverAnimation: false,
  data: data[2] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 
},
{
  name: '人民币现货/汇率 - 指数',
  type: 'line', 
  showSymbol: false,
  hoverAnimation: false,
  data: data[3] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 
},
{
  name: '季度-美金现货',
  type: 'line', 
  showSymbol: false,
  hoverAnimation: false,
  data: data[4] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 
},
{  
  name: '季度-次周',
  type: 'line', 
  showSymbol: false,
  hoverAnimation: false,
  data: data[5] ,
  markPoint : {
    data : [
    {type : 'max', name: '最多'},
    {type : 'min', name: '最少'}
    ]
},
markLine : {
    data : [
    {type : 'average', name: '平均值'}
    ]
} 

}
]
}; 


myChart.setOption(option); 

if(!sdate&&!sdata){
    $.ajax({
        url: '/getTrendData', 
        dataType: 'json'
    })
    .done(function(json) {  
        // var result = JSON.parse(json); 
        var r = formatData(json); 
        date=r['date']
        data=r['data']   
        sessionStorage.setItem('sdate', JSON.stringify(date)) 
        sessionStorage.setItem('sdata', JSON.stringify(data) )
        myChart.setOption({
            xAxis: { 
                data : date
            },
            series: [
            { 
                data:  data[0]
            }, 
            { 
                data:  data[1]
            },
            { 
                data:  data[2]
            },
            { 
                data:  data[3]
            },
            { 
                data:  data[4]
            },
            { 
                data:  data[5]
            }
            ]
        });
    })  
}
</script> 

</body>
</html>